    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* NAV */
    
    .nav1 {
        background: transparent;
        width: 100%;
        position: fixed;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
        height: 70px;
        display: flex;
        justify-content: space-between;
    }
    
    .nav2 {
        background: white;
        /* height: 100px; */
        color: purple;
        z-index: 999999;
        position: fixed;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
        height: 70px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    /* NAV */
    
    header {
        width: 100%;
        height: 550px;
        background: #bc4e9c;
        background: -webkit-linear-gradient(to right, hsla(340, 98%, 51%, 0.91), hsla(317, 45%, 52%, 0.849));
        background: linear-gradient(to right, hsla(340, 98%, 51%, 0.952), hsla(317, 45%, 52%, 0.925)), url(Imagenesportada/Background.png);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
    
    .wave {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .wavefooter {
        color: (to right, hsla(340, 98%, 51%, 0.911), hsla(317, 45%, 52%, 0.849))
    }
    
    .h1 {
        font-family: 'Raleway', sans-serif;
        margin-top: auto;
        padding-top: 50;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 90%;
        max-width: 1100px;
        height: 100%;
        margin: auto;
        gap: 10px;
        overflow: hidden;
        align-items: center;
    }
    
    .weight-400 {
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
    }
    
    .weight-600 {
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
    }
    
    .parrafo {
        margin-bottom: 20px;
    }
    
    .header {
        height: 600px;
    }
    
    .img {
        width: 95%;
        /* max-width: 400px; */
    }
    
    .img-hero {
        width: 100%;
        height: auto;
        grid-column: 8/13;
        padding-bottom: 25%;
    }
    
    .textos-hero {
        grid-column: 1/7;
        padding-right: 20px;
        padding-bottom: 25%;
    }
    
    .textos-hero p {
        text-align: justify;
        color: #1a1919;
        font-family: 'Raleway', sans-serif;
    }
    
    .textos-hero .cta {
        background: #383850;
        color: white;
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        padding: 10px 8px;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
    }
    
    .about-us .cta {
        background: #857387;
        color: #dac9dc;
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        padding: 10px 8px;
        text-decoration: none;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
    }
    /*HEADER*/
    
    .services {
        height: 370px;
        background: linear-gradient(180deg, white 50%, #ea3574 50%)
    }
    
    .items {
        grid-column: 1/-1;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Raleway', sans-serif;
    }
    
    .item {
        width: 30%;
        background: white;
        overflow: hidden;
        height: 200px;
        padding: 20px 10px;
        text-align: center;
        transition: 1s;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 7px;
        box-shadow: 5px 1px 7px 5px rgba(0, 0, 0, 0.5);
    }
    /* ITEM 5 ABAJO */
    
    .service2 {
        height: 370px;
        background: linear-gradient(180deg, #ea3574 50%, white 50%)
    }
    
    .conocimientos {
        grid-column: 1/-1;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .grid>h3 {
        grid-column: 1/-1;
        color: #1a1919;
        font-size: x-large;
        /* border-bottom: 1px solid white; */
        /* border-top: 1px solid black; */
        text-align: center;
        font-family: 'Raleway', sans-serif;
        justify-content: center;
        letter-spacing: 2px;
        margin-top: inherit;
    }
    
    .grid2 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 90%;
        max-width: 1100px;
        height: 95%;
        margin: auto;
        gap: 10px;
        overflow: hidden;
        align-items: center;
    }
    
    .item>i {
        color: #ea3574;
        font-size: 60px;
        text-align: center;
    }
    
    .item>p {
        color: #635c6e;
        font-family: 'Raleway', sans-serif;
    }
    
    .item3 {
        width: 19%;
        background: white;
        box-shadow: 5px 1px 7px 5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        height: 150px;
        padding: 20px 10px;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 7px;
        font-size: 15px;
    }
    
    .item3>i {
        color: #ea3574;
        font-size: 40px;
        text-align: center;
    }
    
    .item3>p {
        color: #635c6e;
        font-family: 'Raleway', sans-serif;
    }
    /* ITEM 5 ABAJO */
    
    .titulo-service {
        margin: 20px 0;
        color: #1a1919;
        font-size: 20px;
    }
    /*About us*/
    
    .about-us {
        padding-top: 25px;
        background: white;
        color: #1a1919;
        height: auto;
        padding-bottom: 20px;
        grid-column: 4/9;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .textos.about-us {
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
    
    .textos.about-us .parrafo {
        margin-top: 10px;
        color: #635c6e;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
    }
    
    .descripcion {
        display: grid;
        grid-column: 1/5;
        padding-left: 10%;
        padding-top: 5%;
        font-family: 'Raleway', sans-serif;
    }
    
    .descripcion>h4 {
        font-family: 'Raleway', sans-serif;
        color: rgb(44, 43, 43);
    }
    
    .descripcion>p {
        font-family: 'Source Sans Pro', sans-serif;
        color: #635c6ece;
    }
    
    .code {
        grid-column: 7/13;
    }
    
    .code>img {
        width: 50%;
        float: right;
        margin: auto;
    }
    /*Mission*/
    
    .mission {
        padding: 0 0 60px;
    }
    /*verificar*/
    
    .textos-mission {
        grid-column: 7/13;
        grid-row: 1/-1;
        margin-bottom: 20px;
    }
    
    .texto-mission>h3 {
        font-family: 'Raleway', sans-serif;
        color: rgb(44, 43, 43);
    }
    
    .texto-mission>p {
        font-family: 'Source Sans Pro', sans-serif;
        color: #635c6ece;
    }
    
    .img-mission {
        grid-column: 1/7;
        grid-row: 1/-1;
    }
    /* FOOTER */
    
    footer {
        background: #bc4e9c;
        background: -webkit-linear-gradient(to right, hsla(340, 98%, 51%, 0.911), hsla(317, 45%, 52%, 0.849));
        background: linear-gradient(to right, hsla(340, 98%, 51%, 0.952), hsla(317, 45%, 52%, 0.925));
        color: #1a1919;
        font-family: 'Raleway', sans-serif;
    }
    
    .contacto-footer {
        grid-column: 1/7;
        font-size: 10px;
        letter-spacing: 5px;
        text-align: -webkit-center;
        padding-bottom: 10px;
    }
    
    .footer-item {
        text-align: -webkit-center;
        word-spacing: 10px;
        text-align: -webkit-center;
        font-size: 35px;
        color: #1a1919;
    }
    
    .footer-item>a {
        color: #1a1919;
        font-size: 40px;
    }
    
    .widget {
        grid-column: 1/5;
        padding: 0px 10px 30px 0px;
    }
    
    .about-me {
        margin-top: 0px;
        padding: 0px 30px 30px 0px;
        grid-column: 8/13;
        margin-bottom: 20px;
    }
    
    .fotografia>img {
        width: 260%;
        padding: 0px 0px 40px 0px;
    }
    /* .about-me>img {
width: 20%;
} */
    
    .text-me>h5 {
        font-size: 22px;
        margin-bottom: 10px;
        /* padding-top: 50px; */
    }
    
    .text-me>p {
        font-size: 15px;
    }
    /* FOOTER */
    
    .credit {
        grid-column: 1/-1;
        box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.5);
        padding-top: 7px;
        padding-bottom: 20px;
        /* text-align: right; */
        padding-right: 7px;
        width: 100%;
        /* display: flex; */
    }
    
    .año {
        padding-right: 10px;
        color: #1a1919;
        float: right;
        font-size: 15px;
    }
    
    .mail {
        margin-left: 210px;
    }
    /* CREDIT */
    
    .icono {
        display: none;
    }
    
    .enlaces {
        display: flex;
        height: 100%;
        width: 30%;
        justify-content: space-around;
        align-items: center;
    }
    
    .enlaces a {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 4px 0;
        transition: 0.7s ease-out;
        color: #1a1919;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
    }
    
    .enlaces a:hover,
    .active {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    
    .enlaces i {
        display: none
    }
    
    header .textos {
        text-align: center;
        color: #fff;
        margin-top: 150px;
    }
    
    header .textos h1 {
        font-size: 95px;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    header .textos h2 {
        font-size: 30px;
        font-weight: 600;
    }
    
    .contacto-footer2 {
        display: none;
    }
    
    .footer-item2 {
        display: none;
    }
    
    .redes {
        display: none;
    }
    
    @media screen and (max-width:750px) {
        nav {
            position: fixed;
            width: 100%;
        }
        .hide {
            display: none
        }
        .icono {
            display: flex;
            justify-content: center;
            height: 70px;
            align-items: center;
            color: #1a1919;
            background: transparent;
            padding: 20px;
            z-index: 100;
            cursor: pointer;
            margin-right: 40px;
            font-size: 30px;
        }
        header .textos h1 {
            font-size: 75px;
        }
        .enlaces {
            position: fixed;
            height: 100vh;
            right: 0;
            width: 65%;
            flex-direction: column;
            transition: all 2s ease;
            padding: 50px;
            background: #bc4e9c;
            background: -webkit-linear-gradient(to right, hsla(340, 98%, 51%, 0.911), hsla(317, 45%, 52%, 0.849));
            background: linear-gradient(to right, hsla(340, 98%, 51%, 0.952), hsla(317, 45%, 52%, 0.925));
        }
        .enlaces>i {
            display: flex;
        }
        .uno {
            -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
        }
        .dos {
            -webkit-clip-path: circle(150% at 100% 0%);
            clip-path: circle(150% at 100% 0%);
        }
        .img-hero {
            display: none
        }
        .header {
            height: auto;
        }
        .wave {
            display: none;
        }
        .grid {
            padding-top: 60px;
        }
        .textos-hero {
            grid-column: 1/-1;
            margin-top: 40px;
        }
        .services {
            height: auto;
            margin-top: 40px;
        }
        .fotografia {
            right: 210px;
            width: 60px;
            display: inline;
            position: inherit;
            direction: rtl;
        }
        .fotografia>img {
            width: 300px;
        }
        .about-me {
            grid-column: 1/-1;
            margin-bottom: 20px;
            display: flex;
            width: inherit;
        }
        .widget {
            display: inline-block;
            display: flex;
            grid-column: 1/5;
            padding: 0px 100px 0px 0px;
            margin-bottom: 20px;
            top: 90px;
            position: relative;
            margin-left: none;
        }
        .mail {
            display: none;
        }
        .año {
            font-size: 12px;
            text-align: center;
        }
        .contacto-footer {
            display: none;
        }
        .redes {
            font-size: 15px;
            position: relative;
            margin-bottom: 25px
        }
        .footer-item2 {
            text-align: -webkit-center;
            word-spacing: 10px;
            text-align: -webkit-center;
            font-size: 35px;
            color: #1a1919;
            display: inline-flex;
        }
        .footer-item {
            display: none;
        }
        .footer-item2>a {
            color: #1a1919;
            font-size: 55px;
            letter-spacing: 30px;
            margin-bottom: 20px;
        }
        @media screen and (max-width:450px) {
            nav {
                position: fixed;
                width: 100%;
            }
            .hide {
                display: none
            }
            .icono {
                display: flex;
                justify-content: center;
                height: 70px;
                align-items: center;
                color: #1a1919;
                background: transparent;
                padding: 20px;
                z-index: 100;
                cursor: pointer;
                margin-right: 40px;
                font-size: 30px;
            }
            header .textos h1 {
                font-size: 75px;
            }
            .enlaces {
                position: fixed;
                height: 100vh;
                right: 0;
                width: 65%;
                flex-direction: column;
                transition: all 2s ease;
                padding: 50px;
                background: #bc4e9c;
                background: -webkit-linear-gradient(to right, hsla(340, 98%, 51%, 0.911), hsla(317, 45%, 52%, 0.849));
                background: linear-gradient(to right, hsla(340, 98%, 51%, 0.952), hsla(317, 45%, 52%, 0.925));
            }
            .grid {
                padding-top: 60px;
            }
            .item {
                width: 60%;
                margin: 15px;
                background: white;
                overflow: hidden;
                height: 150px;
                padding: 20px 10px;
                text-align: center;
                transition: 1s;
                font-family: 'Source Sans Pro', sans-serif;
                border-radius: 7px;
                box-shadow: 5px 1px 7px 5px rgba(0, 0, 0, 0.5);
            }
            .item3 {
                width: 60%;
                margin: 15px;
                background: white;
                overflow: hidden;
                height: 150px;
                padding: 20px 10px;
                text-align: center;
                transition: 1s;
                font-family: 'Source Sans Pro', sans-serif;
                border-radius: 7px;
                box-shadow: 5px 1px 7px 5px rgba(0, 0, 0, 0.5);
            }
            .conocimientos {
                grid-column: 1/-1;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                font-family: 'Raleway', sans-serif;
            }
            .service2 {
                height: auto;
            }
            .code>img {
                width: 100%;
                margin: auto;
            }
            .descripcion {
                display: grid;
                padding-right: 20%;
                margin-top: 20px;
                font-family: 'Raleway', sans-serif;
            }
            .contacto-footer {
                display: none;
            }
            .redes {
                display: flex;
                font-size: 15px;
                position: relative;
                margin-bottom: 15px
            }
            .redes>.footer-item2 {
                text-align: -webkit-center;
                word-spacing: 10px;
                text-align: -webkit-center;
                font-size: 35px;
                color: #1a1919;
                display: inline-flex;
            }
            .footer-item {
                display: none;
            }
            .footer-item2>a {
                color: #1a1919;
                font-size: 55px;
                letter-spacing: 30px;
                margin-bottom: 20px;
            }
            /* .textos-mission {
                text-align: center;
                margin-right: 30px;
            } */
            .mission {
                padding: 0 0 60px;
            }
            /*verificar*/
            .textos-mission {
                grid-column: 1/-1;
                /* grid-row: 1/-1; */
                padding: 50px 10px 40px 20px;
                margin-bottom: 250px
            }
            .texto-mission>h3 {
                font-family: 'Raleway', sans-serif;
                color: rgb(44, 43, 43);
            }
            .texto-mission>p {
                font-family: 'Source Sans Pro', sans-serif;
                color: #635c6ece;
            }
            .img-mission {
                grid-column: 1/7;
                grid-row: 1/-1;
            }
            .img {
                margin-top: 300px;
                width: 380px;
                max-width: 400px;
            }
            .fotografia {
                right: 210px;
                width: 60px;
                display: inline;
                position: inherit;
                direction: rtl;
            }
            .fotografia>img {
                width: 300px;
            }
            .about-me {
                grid-column: 1/-1;
                margin-bottom: 20px;
                display: flex;
                width: inherit;
            }
            .widget {
                display: inline-block;
                display: flex;
                grid-column: 1/5;
                padding: 0px 100px 0px 0px;
                margin-bottom: 20px;
                top: 90px;
                position: relative;
                margin-left: none;
            }
            .mail {
                display: none;
            }
            .año {
                font-size: 12px;
                text-align: center;
            }
        }
    }